
.top-right {
  position: absolute;
  top: 8px;
  right: 26px;
  width: 10%;
  border-radius: 25px;
  cursor: pointer;
  color: white;
}

.live-container {
  position: relative;
  text-align: center;
  width: 100%;
}

.slider{
  display: block !important;
  position: absolute !important;
  width: 97% !important;
  bottom: 5px;
  margin: auto;
  background-color: rgb(0,0,0,0.5);
}