
.top-right {
      position: absolute;
      top: 8px;
      right: 26px;
      background-color: red;
      color: white;
      width: 10%;
      border-radius: 25px;
}
.live-container {
      position: relative;
      text-align: center;
      width: 100%;
}