
.top-right {
      position: absolute;
      top: 8px;
      right: 26px;
      width: 10%;
      border-radius: 25px;
      cursor: pointer;
      color: white;
}

.live-container {
      position: relative;
      text-align: center;
      width: 100%;
}